.left-column {
    float: left;
    width: 40%; /* Takes up 3/4 of the container */
    padding-right: 2px; /* Space between the columns */
    vert-align: top;
}

.right-column {
    float: right;
    width: 50%; /* Takes up 1/4 of the container */
    padding-left: 2px; /* Space between the columns */
    padding-top: 25px;
    padding-bottom: 25px;
    vertical-align: top;
}

/* Clearfix for the parent container */
.columns:after {
    content: "";
    display: table;
    clear: both;
}

@media (max-width: 768px) {
    .left-column, .right-column {
        float: none;
        width: 100%; /* Each column takes full width on smaller screens */
        padding-right: 0;
        padding-left: 0;
    }
}

/* Add this CSS to your stylesheet to style the link as a button */
.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #8be9fd;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;;
}
